@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  min-width: 1200px;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  display: block;
  box-sizing: border-box;
  min-width: 220px;
  width: max-content;
  padding: 10px 22px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
  border: none;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0) 16px, 16px, #ffe17f 24px, 24px, rgba(0, 0, 0, 0));
}

.button:hover {
  background: #ffe17f;
}

.button:active {
  background: #FFCC33;
}

.button:focus {
  outline: 2px solid #AF4FFF;
}

.button:disabled {
  opacity: 0.3;
}

.link {
  text-decoration: none;
}

.link:hover {
  opacity: 0.6;
}

.link:active {
  opacity: 0.3;
}

.link:focus {
  outline: 2px solid #AF4FFF;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

/* header */

.header-container {
  padding-top: 18px;
  background: linear-gradient(#ffffff 40px, 40px, #ffe17f);
}

.header-catalog-container {
  min-height: 208px;
}

.page-header {
  padding: 0 60px;
}

.navigation-logo {
  display: block;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.logo {
  display: block;
  margin: 0;
  padding: 0;
}

.user-wrapper {
  margin: 0;
  display: flex;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 26px;
}

.search-input {
  box-sizing: border-box;
  width: 360px;
  height: 38px;
  margin: 0;
  padding: 0 0 0 16px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #ffe17f;
}

.search-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffe17f;
  cursor: pointer;
}

.search-button-text{
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0;
  width: 160px;
  height: 38px;
  border: 2px solid #000000;
  border-left-width: 0;
  border-radius: 0 50px 50px 0;
  font-size: 16px;
  line-height: 16px;
}


.search-button:hover .search-button-text {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active  .search-button-text{
  background-color: #000000;
  color: #4d4d4d;
}

.search-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.search-button:disabled {
  opacity: 0.3;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-item:not(:last-child) {
  margin-right: 26px;
}

.user-item:nth-child(2) {
  margin-left: auto;
}

.user-link {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  padding: 5px 0;
  color: #000000;
  text-align: center;
}

.user-login {
  margin-right: 28px;
}

.user-logout {
  opacity: 0.3;
  margin:0;
}

.user-icon {
  margin: 0;
  margin-right: 12px;
}

.user-basket {
  position: relative;
}

.basket-items-number {
  position: absolute;
  top: 10px;
  left: -15px;
  box-sizing: border-box;
  padding: 2px;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
}

.navigation {
  display: flex;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 750px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item:not(:last-child) {
  margin-right: 45px;
}


.navigation-link {
  display: block;
  box-sizing: border-box;
  padding: 4px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.navigation-link-current {
  border-bottom: 2px solid #000000;
}

.navigation-catalog {
  display: flex;
  margin-right: auto;
  align-items: center;
  padding: 0;
}

.navigation-catalog:hover,
.navigation-catalog:active {
  opacity: 1;
}

.navigation-catalog-text {
  margin-right: 0;
  padding: 0;
}

.navigation-catalog::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-image: url(../images/plus.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.navigation-catalog:hover::after,
.navigation-catalog:active::after {
  opacity: 1;
}


/* slider */

.slider {
  margin: 0;
  margin-top: -14px;

}

.slider-container {
  margin-bottom: 70px;
  background: linear-gradient(#ffe17f 150px, 150px, #ffffff);
}

.slider-item {
  display: flex;
  position: relative;
}

.slider-item-image {
  width: 560px;
  height: auto;
  margin-right: 40px;
}

.slider-item-wrapper {
  width: 560px;
  padding-top: 120px;
  z-index: 1;
}

.slider-number {
  display: block;
  position: absolute;
  width: 250px;
  height: 135px;
  right: 49px;
  color: #ffffff;
  font-weight: 700;
  font-size: 180px;
  line-height: 180px;
  text-align: right;
}

.slider-item-slogan {
  margin: 0;
  margin-bottom: 29px;
}

.slider-item-description {
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}

.slider-button {
  display: block;
  width: 220px;
  height: 40px;
  margin-bottom: 49px;
}

.slider-item-features {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.slider-feature-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.slider-item-feature-name {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  order: 2;
}

.slider-item-feature-value {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

/* categories */
.catalog-categories-container {
  margin-bottom: 70px;
}
.catalog-categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.catalog-category-item {
  width: 160px;
  margin-right: 40px;
}

.catalog-category-item:nth-child(6) {
  margin-right: 0;
}

.catalog-category-link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.catalog-category-text {
  display: block;
  height: 60px;
}

.catalog-category-link::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.category-vr::before {
  background-image: url(../images/categories/catalog-category-vr.svg);
}

.category-monopode::before {
  background-image: url(../images/categories/catalog-category-monopodes.svg);
}

.category-cameras::before {
  background-image: url(../images/categories/catalog-category-cameras.svg);
}

.category-fitness::before {
  background-image: url(../images/categories/catalog-category-fitness.svg);
}

.category-watches::before {
  background-image: url(../images/categories/catalog-category-watch.svg);
}

.category-copters::before {
  background-image: url(../images/categories/catalog-category-copters.svg);
}

.catalog-category-link:hover::before{
  background-color: #ffc700;
}

.catalog-category-link:active {
  opacity: 0.3;
}

.catalog-category-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* services */

.services {
  margin-bottom: 70px;
}

.services-wrapper {
  background: linear-gradient(#ffffff 100px, 100px, #f0f0f0);
  margin-bottom: 70px;
}

.services-container {
  display: flex;
}

.services-buttons-list {
  width: 280px;
  list-style-type: none;
  margin: 0;
  margin-right: 116px;
  padding: 64px 0;
  border-right: 7px solid #000000;
}

.services-buttons-item {
  margin-bottom: 35px;
}

.services-buttons-item:last-child {
  margin-bottom: 0;
}

.services-button {
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding: 10px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
  border: none;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0) 16px, 16px, #ffe17f 24px, 24px, rgba(0, 0, 0, 0));
}

.services-button:hover:not(.services-button-chosen){
  background: #ffe17f;
}

.services-button:active:not(.services-button-chosen) {
  background: #FFCC33;
}

.services-button:focus {
  outline: 2px solid #AF4FFF;
}

.services-button:disabled {
  opacity: 0.3;
}

.services-button-chosen {
  position: relative;
  width: 280px;
  padding-right: 120px;
  text-align: center;
  background: #000000;
  color: #ffe17f;
  z-index: 2;
}

.services-button-chosen:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services-button-chosen:active {
  color: rgba(255, 225, 127, 0.3);
}

.services-button-chosen:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}



.services-list {
  width: 750px;
  align-self: center;
}

.services-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 72px 0;
}

.services-item::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin: 0;
}

.service-title {
  margin: 0;
  margin-bottom: 34px;
}

.service-description {
  display: block;
  margin: 0;
  width: 480px;
}

.service-delivery::after {
  background-image: url(../images/services/delivery.svg);
  width: 136px;
  height: 164px;
}

.service-warranty::after {
  background-image: url(../images/services/warranty.svg);
  width: 171px;
  height: 195px;
}

.service-credit::after {
  background-image: url(../images/services/credit.svg);
  width: 156px;
  height: 188px;
}

/* rare items */

.rare-items-link {
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
  height: 100px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.rare-items-link:hover::before {
  background-color: #ffc700;
}

.rare-items-link:hover::after {
  opacity: 1;
  background-color: rgba(220, 220, 220, 0.5);
}

.rare-items-link:active {
  opacity: 0.3;
}

.rare-items-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.rare-items {
  width: 910px;
  height: 100px;
  margin: auto 0;
}

.rare-items-link::before {
  content: "";
  display: block;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url(../images/delivery-car.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 47px;
}

.rare-items-link::after {
  content: "";
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  background-image: url(../images/info-rare.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  opacity: 0.5;
}

.rare-items-text {
  margin: 40px auto;
}

/* about and contacts */

.about-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about,
.contacts {
  width: 520px;
}

.about-title,
.contacts-title {
  margin: 0;
  margin-bottom: 48px;
}

.about::before {
  content: " ";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
  margin-bottom: 40px;
}

.contacts::before {
  content: " ";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
  margin-bottom: 40px;
}

.delivery-company-list {
  font-weight: 700;
  color: #000000;
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.delivery-company-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  margin-bottom: 19px;
}

.delivery-company-item:last-child {
  margin-bottom: 0;
}

.delivery-company-item::before {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  margin-right: 26px;
  border-radius: 50%;
  background-color: #ffc700;
}

.about-button {
  width: 270px;
  padding: 10px 0;
}

.about-text,
.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.context-address-tel {
  color: #444444;
}

.context-address-tel:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.contacts-schedule {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-button {
  width: 260px;
}

/* subscription */

.subscription {
  background-color: #f0f0f0;
}

.subscription-container {
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscription-wrapper {
  display: flex;
  margin-bottom: 144px;
}

.subscription-wrapper:last-child {
  margin-bottom: 0;
}

.subscription-title {
  margin: 0;
  width: 560px;
  align-self: center;
  margin-right: 252px;
}

.subscription-text {
  margin: 0;
  width: 560px;
  align-self: center;
}

.subscription-form {
  display: flex;
  margin: 0;
  margin-right: auto;
}

.subscription-input {
  box-sizing: border-box;
  width: 557px;
  height: 60px;
  border: 0;
  border-bottom: 3px solid #c4c4c4;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 15px;
}

.subscription-input:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.subscription-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);

  box-sizing: border-box;
  width: 253px;
  padding: 18px 39px;
  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}

.subscription-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid #000000;

}

.subscription-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.subscription-button:disabled {
  opacity: 0.3;

}

.subcription-free {
  margin: auto 0;
}

.subcription-free::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-image: url(../images/tick-big.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* footer */

.page-footer {
  background-color: #444444;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-container {
  padding: 62px 0;
}

.page-footer a {
  color: #ffffff;
}

.footer-logo-link {
  display: block;
  width: 150px;
  margin: 0;
  padding: o;
  margin-bottom: 35px;
}

.footer-wrapper {
  display: flex;
  margin-bottom: 47px;
}

.footer-wrapper:last-child {
  margin-bottom: 0;
}

.footer-contacts {
  width: 240px;
  margin-right: 124px;
}

.page-footer .contacts-address {
  display: block;
  margin: 0;
  padding: 0;
}

.footer-contacts-text {
  display: block;
  margin: 0;
  padding: 0;
}

.footer-contacts-tel {
  padding: 0;
  text-decoration: underline;
  text-align: right;
  align-self: flex-start;
}

.footer-contacts-tel:hover {
  color: #ffc700;
  text-decoration: underline;
  opacity: 1;
}

.footer-contacts-tel:active {
  color: #ffc700;
  text-decoration: underline;
}

.footer-contacts-tel:focus {
  color: #ffffff;
  outline: 2px solid #AF4FFF;
}

.footer-navigation {
  min-width: 444px;
  margin-right: auto;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.footer-navigation-item {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 35px;
}

.footer-navigation-item:last-child {
  margin-right: 0;
}

.footer-navigation-link {
  padding: 4px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-navigation-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 1;
}

.footer-navigation-link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  color: #ffffff;
}

.footer-social-wrapper::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  margin-right: auto;
}

.footer-social {
  margin-right: auto;
}

.footer-soctial-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  margin: 0;
  list-style-type: none;
}

.footer-social-item {
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

.footer-social-item:last-child {
  margin: 0;
}

.footer-social-link {
  display: block;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.social-icon {
  display: block;
  fill: #444444;
  margin: 0;
  padding: 0;
}

.link-telegram {
  padding: 14px 13px;
}

.link-youtube {
  padding: 15px 12px;
}

.link-twitter {
  padding: 13px 13px;
  margin-right: 0;
}

.footer-social-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.3;
  z-index: -5;
}

.footer-social-link:hover::before {
  background-color: #ffc700;
  opacity: 1;
}

.footer-social-link:active .social-icon{
  fill-opacity: 0.3;
}

.footer-social-link:active::before {
  background-color: #ffc700;
  opacity: 1;
}

.footer-social-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.copyright {
  display: block;
  margin: 0;
  padding: 0;
}

.copyright-link {
  display: block;
}

.copyright-logo{
  fill: #FFC700;
}

.copyright-logo:hover {
  fill: #ffffff;
}

.copyright-link:active .copyright-logo{
  fill: #ffffff;
  fill-opacity: 0.3;

}

.copyright-link:focus {
  outline: 2px solid #AF4FFF;
}


/* catalog page */

/* catalog header */

.header-catalog-container {
  margin-bottom: 35px;
}

.inner-header-container {
  padding: 0;
  margin-bottom: 35px;
}
.inner-header {
  padding-left: 60px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
}

.breadcrubms-item {
  display: flex;
  align-items: center;
  margin: 0;
}

.breadcrumbs-link {
  margin-right: 16px;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: #000000;
  opacity: 0.6;
}

.breadcrumbs-link:active {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrubms-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  margin-right: 16px;
  background-image: url(../images/arrows/nav-arrow.svg);
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.2;
}

/* catalog main part */

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-page-container {
  display: flex;
}

.catalog-subsection-title {
  display: block;
  margin: 0;
  padding: 25px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* catalog filters */

.catalog-filters-wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  padding: 0 60px;
}

.catalog-filter {
  margin: 0;
  padding: 0;
}

.filter-subsection-title {
  margin-bottom: 35px;
}

.form-subsection {
  border-top: 2px solid #000000;

  margin: 0;
  margin-bottom: 35px;
  padding-top: 12px;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* catalog sorting */

.products-sorting-wrapper {
  width: 840px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  max-width: 840px;
  padding: 0 40px;
}

.sorting-subsection-title {
  margin: 0;
  margin-right: auto;
}

.select-control {
  margin-right: auto;
  padding: 10px 0;
  background: none;
  border: none;
  font-size: 18px;
  line-height: 30px;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.sorting-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 11px 10px;
  opacity: 0.2;
}

.sorting-up {
  background-image: url(../images/arrows/arrow-up.svg);
}

.sorting-down {
  background-image: url(../images/arrows/arrow-down.svg);
}

.sorting-button:hover{
  opacity: 0.5;
}

.sorting-button:active{
  opacity: 1;
}

.sorting-button:focus{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* catalog products */

.products {
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.products-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
}

.products-card-link {
  display: grid;
  position: relative;
  grid-template-columns: 240px auto;
  gap: 32px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.products-card-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  grid-area: 2 / 1 / 3 / 2;
}

.products-card-image {
  grid-area: 1 / 1 / 2 / 3;
  object-fit: contain;
}

.products-card-price {
  margin-left: auto;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.products-card-link:hover .products-card-title,
.products-card-link:hover .products-card-price {
  opacity: 0.6;
}

.products-card-link:hover::after {
  content: "Подробнее";
  display: block;
  position: absolute;
  width: 220px;
  padding: 10px 0;
  top: 170px;
  left: 70px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0) 16px, 16px, #ffe17f 24px, 24px, rgba(0, 0, 0, 0));
}

.products-card-link:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.products-card-link:active .products-card-title,
.products-card-link:active .products-card-price {
  opacity: 0.3;
}

.products-card-link:active::before {
  content: "";
  display: block;
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.products-card-link:active::after {
  content: "Подробнее";
  display: block;
  position: absolute;
  width: 220px;
  padding: 10px 0;
  top: 170px;
  left: 70px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-align: center;
  background: #ffe17f;
}


.products-card-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* catalog pagination */

.pagination-show-more {
  display: block;
  box-sizing: border-box;
  width: 760px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 18px 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  line-height: 19px;
  text-align: center;
  border: 3px solid #e5e5e5;
  cursor: pointer;
}

.pagination-show-more:hover{
  border: 3px solid #000000;
}

.pagination-show-more:active{
  border: 3px solid #000000;
  opacity: 0.3;
}

.pagination-show-more:focus{
  outline:  2px solid #AF4FFF;
  outline-offset: 2px;

}

.pagination-show-more:disabled{
  border: 3px solid #e5e5e5;
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link:hover{
  color: rgba(68, 68, 68, 0.5);
}

.pagination-link:active{
  color: rgba(68, 68, 68, 1);
}

.pagination-link:focus{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-prev,
.pagination-next {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 25px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-prev:hover,
.pagination-next:hover {
 background-color: #dcdcdc;
}

.pagination-prev:active,
.pagination-next:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3)
}

.pagination-prev:focus,
.pagination-next:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}
