@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;

}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
}

.link {
 text-decoration: none;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
}

.subscription .container {
  margin-bottom: 0;
}

/* header */

.page-header {
  margin-top: 40px;
  height: 300px;
  background-color: #ffe17f;
  padding: 0 60px;
}

.header-wrapper {
  margin: 0;
  padding: 0;
}


.navigation-user-link {
  color: #000000;
  text-align: center;
}

.navigation-list {
  margin: 0;
  padding: 0;;
}

.navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
 }

.navigation-catalog::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/plus.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

/* slider */

.slider {
  margin: 0 auto;
  width: 1160px;
}

.slider-number {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-item-wrapper {
  width: 560px;
}

.slider-item-image {
  width: 560px;
  height: auto;
}

.slider-item-features {
  display: flex;
  justify-content: flex-start;
}

.slider-feature-wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.slider-item-feature-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  order: 2;

}

.slider-item-feature-value {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* categories */

.catalog-categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-category-item {
  width: 160px;
}

.catalog-category-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-category-item::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.category-vr::before {
  background-image: url(../images/categories/catalog-category-vr.svg);
}

.category-monopode::before {
  background-image: url(../images/categories/catalog-category-monopodes.svg);
}

.category-cameras::before {
  background-image: url(../images/categories/catalog-category-cameras.svg);
}

.category-fitness::before {
  background-image: url(../images/categories/catalog-category-fitness.svg);
}

.category-watches::before {
  background-image: url(../images/categories/catalog-category-watch.svg);
}

.category-copters::before {
  background-image: url(../images/categories/catalog-category-copters.svg);
}

/* services */

.services-wrapper {
  background-color: #f0f0f0;
}

.services-container {
  display: flex;
  justify-content: space-between;
}

.services-buttons-list {
  width: 280px;
  border-right: 7px solid #000000;
}

.services-list {
  width: 750px;
}

.services-button-chosen {
  color: #ffe17f;
  background-color: #000000;
}

.services-item::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.service-delivery::after {
  background-image: url(../images/services/delivery.svg);

}

.service-warranty::after {
  background-image: url(../images/services/warranty.svg);

}

.service-credit::after {
  background-image: url(../images/services/credit.svg);

}

.rare-items {
  background-color: #f0f0f0;
}

.rare-items-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* about and contacts */

.about-container {
  display: flex;
  justify-content: space-between;
}

.about,
.contacts {
  width: 520px;
}

.about::before {
  content: " ";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts::before {
  content: " ";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.delivery-company-list {
  font-weight: 700;
  color: #000000;
}

.contacts-address {
  font-style: normal;
}

.context-address-tel {
  color: #444444;
}

/* subscription */

.subscription {
  background-color: #f0f0f0;
}


.subscription-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscription-title {
  width: 560px;
  align-self: center;
}

.subscription-text {
  width: 560px;
  align-self: center;
}


.subscription-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subcription-free::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/tick-big.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* footer */

.page-footer {
  margin-top: 0;
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.page-footer a {
  color: #ffffff;
}

.footer-navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts-text {
  width: 240px;
}

.footer-navigation {
  width: 444px;
}

.footer-contacts-tel {
  text-decoration: underline;
  width: 200px;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
}

.footer-soctial-list {
  display: flex;
}

/* catalog page */

.breadcrumbs {
  color:#000000;
  font-size: 16px;
  line-height: 19px;
}

.breadcrubms-item:not(:last-child)::after {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 7px;
  background-image: url(../images/arrows/nav-arrow.svg);
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-page-container {
  display: flex;
}

.catalog-filters-wrapper {
  width: 320px;

}

.products-sorting-wrapper {
  width: 840px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-subsection-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.products {
  background-color: #ffffff;
  height: 100%;
}

.products-card-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.products-card-price {
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.pagination-show-more {
  width: 760px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.pagination-list {
  display: flex;
  background-color: #ebebeb;
}

.pagination-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  display: inline-block;
  height: 71px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#000000;
  opacity: 1;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}
