@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

html {
  height: 100%;
}


body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
}

.link {
 text-decoration: none;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1160px;
}


/* header */

.header-container {
  margin-top: 60px;
  background-color: #ffe17f;
}

.page-header {
  margin-top: -20px;
  padding: 0 60px;
}

.navigation-logo {
  display: block;
  margin: 0;
  margin-bottom: 30px;
}

.user-wrapper {
  margin: 0;
  display: flex;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  align-items: center;

  width: 517px;
  margin-right: 26px;
}

.search-input {
  box-sizing: border-box;
  width: 350px;
  height: 38px;
  margin: 0;
  padding: 0 0 0 16px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
}

.search-button {
  box-sizing: border-box;
  margin: 0;
  width: 160px;
  height: 38px;
  border: 2px solid #000000;
  border-left-width: 0;
  border-radius: 0px 50px 50px 0px;
}

.user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-item:not(:last-child) {
  margin-right: 26px;
}

.user-item:first-child {
  margin-right: auto;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 747px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-catalog {
  margin-right: auto;
  align-self: center;
}


.user-link {
  color: #000000;
  text-align: center;
  display: block;
}

.basket-items-number {
  position: absolute;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
 }

.navigation-catalog::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/plus.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;

}

/* slider */

.slider-container {
  margin-bottom: 70px;
}

.slider-list {
  margin: 0 auto;
  width: 1160px;
}

.slider-number {
  color: #ffffff;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-item-wrapper {
  width: 560px;
}

.slider-item-image {
  width: 560px;
  height: auto;
}

.slider-item-features {
  display: flex;
  justify-content: flex-start;
}

.slider-feature-wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.slider-item-feature-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  order: 2;

}

.slider-item-feature-value {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* categories */
.catalog-categories-container {
  margin-bottom: 70px;
}
.catalog-categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.catalog-category-item {
  width: 160px;
  margin-right: 40px;
}

.catalog-category-item:nth-child(6) {
  margin-right: 0;
}

.catalog-category-link {
  display: block;
  height: 60px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.catalog-category-item::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

}

.category-vr::before {
  background-image: url(../images/categories/catalog-category-vr.svg);
}

.category-monopode::before {
  background-image: url(../images/categories/catalog-category-monopodes.svg);
}

.category-cameras::before {
  background-image: url(../images/categories/catalog-category-cameras.svg);
}

.category-fitness::before {
  background-image: url(../images/categories/catalog-category-fitness.svg);
}

.category-watches::before {
  background-image: url(../images/categories/catalog-category-watch.svg);
}

.category-copters::before {
  background-image: url(../images/categories/catalog-category-copters.svg);
}

/* services */

.services {
  margin-bottom: 70px;
}

.services-wrapper {
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.services-container {
  display: flex;
  justify-content: space-between;
}

.services-buttons-list {
  width: 280px;
  list-style-type: none;
  margin-right: 116px;
  padding: 64px 0;
  border-right: 7px solid #000000;
}



.services-button {
  width: 160px;
  height: 40px;
  border: 0;
}

.services-buttons-item {
  margin-bottom: 35px;
}

.services-buttons-item:last-child {
  margin-bottom: 0;
}

.services-button-chosen {
  width: 280px;
  text-align: left;
  padding-left: 18px;
  color: #ffe17f;
  background-color: #000000;
}

.services-list {
  width: 750px;
  align-self: center;
}

.services-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-item::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.services-item-wrapper {
  margin: 64px 0;
}

.service-title {
  margin: 0;
  margin-bottom: 34px;
}

.service-description {
  display: block;
  width: 480px;
}

.service-delivery::after {
  background-image: url(../images/services/delivery.svg);
  width: 136px;
  height: 164px;

}

.service-warranty::after {
  background-image: url(../images/services/warranty.svg);
  width: 171px;
  height: 195px;

}

.service-credit::after {
  background-image: url(../images/services/credit.svg);
  width: 156px;
  height: 188px;

}

 /* rare items */

.rare-items-link {
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
  height: 100px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.rare-items {
  width: 910px;
  height: 100px;
  margin: auto 0;
}

.rare-items-link::before {
  content: "";
  display: block;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url(../images/delivery-car.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 47px;
}

.rare-items-link::after {
  content: "";
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  background-image: url(../images/info-rare.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  opacity: 0.5;
}

.rare-items-text {
  margin: 40px auto;
}

/* about and contacts */

.about-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about,
.contacts {
  width: 520px;
}

.about::before {
  content: " ";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts::before {
  content: " ";
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.delivery-company-list {
  font-weight: 700;
  color: #000000;
}

.contacts-address {
  font-style: normal;
}

.context-address-tel {
  color: #444444;
}

/* subscription */

.subscription {
  background-color: #f0f0f0;
}


.subscription-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscription-title {
  width: 560px;
  align-self: center;
}

.subscription-text {
  width: 560px;
  align-self: center;
}


.subscription-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subcription-free::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/tick-big.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* footer */

.page-footer {
  margin-top: 0;
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.page-footer a {
  color: #ffffff;
}

.footer-navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts-text {
  width: 240px;
}

.footer-navigation {
  width: 444px;
}

.footer-contacts-tel {
  text-decoration: underline;
  width: 200px;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
}

.footer-soctial-list {
  display: flex;
}

/* catalog page */

.breadcrumbs {
  color:#000000;
  font-size: 16px;
  line-height: 19px;
}

.breadcrubms-item:not(:last-child)::after {
  content: " ";
  display: inline-block;
  width: 4px;
  height: 7px;
  background-image: url(../images/arrows/nav-arrow.svg);
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-page-container {
  display: flex;
}

.catalog-filters-wrapper {
  width: 320px;

}

.products-sorting-wrapper {
  width: 840px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-subsection-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.products {
  background-color: #ffffff;
  height: 100%;
}

.products-card-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.products-card-price {
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.pagination-show-more {
  width: 760px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.pagination-list {
  display: flex;
  background-color: #ebebeb;
}

.pagination-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  display: inline-block;
  height: 71px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#000000;
  opacity: 1;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}
